<section id="bottom">
  <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="widget">
                  <h3>ข้อมูลโรงพยาบาล</h3>
                  <ul>
                      <li><a href="#">ประวัติโรงพยาบาล</a></li>
                      <li><a href="#">หน่วยงานภายใน</a></li>
                      <li><a href="#">ช่องทางบริจาค</a></li>
                      <li><a href="contact">ช่องทางติดต่อ</a></li>                           
                  </ul>
              </div>    
          </div><!--/.col-md-3-->

          <div class="col-md-3 col-sm-6">
              <div class="widget">
                  <h3>ข้อมูลบริการ</h3>
                  <ul>
                      <li><a href="#">บริการภายในโรงพยาบาล</a></li>
                      <li><a href="#">ขั้นตอนการรับบริการ</a></li>
                      <li><a href="#">แพ็คเกจตรวจสุขภาพ</a></li>
                      <li><a href="complaint">ข้อเสนอแนะ/ร้องเรียน</a></li>                          
                  </ul>
              </div>    
          </div><!--/.col-md-3-->

          <div class="col-md-3 col-sm-6">
              <div class="widget">
                  <h3>เว็บไซต์ที่เกี่ยวข้อง</h3>
                  <ul>
                      <li><a href="http://wwwback.nhso.go.th/peoplesearch/">ตรวจสอบสิทธิการรักษา</a></li>
                      <li><a href="http://www.sso.go.th/wpr/category.jsp?lang=th&cat=769">ตรวจสอบข้อมูลประกันสังคม</a></li>
                      <li><a href="https://ssoconnect.mywallet.co/">ตรวจสอบข้อมูลประกันสังคม(Android)</a></li>
                      <li><a href="http://www.ayph.in.th/main/index.php">สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา</a></li>        
                  </ul>
              </div>    
          </div><!--/.col-md-3-->

          <div class="col-md-3 col-sm-6">
              <div class="widget">
                  <h3 style="color:rgb(245, 245, 245);">.   </h3>
                  <ul>
                      <li><a href="https://www.moph.go.th/">กรมบัญชีกลาง</a></li> 
                      <li><a href="https://www.moph.go.th/">กระทรวงสาธารณสุข</a></li>                            
                      <li><a href="http://www.nhso.go.th/FrontEnd/Index.aspx">สำนักงานหลักประกันสุขภาพ</a></li>
                      <li><a href="https://www.ha.or.th/TH/Home">สถาบันรับรองคุณภาพสถานพยาบาล</a></li>                           
                  </ul>
              </div>    
          </div><!--/.col-md-3-->
      </div>
  </div>
</section><!--/#bottom-->

<div class="top-bar">
<div class="container">
<div class="row">
    <div class="col-lg-12">
     <div class="social">
      <ul class="social-share">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-skype"></i></a></li> -->
      </ul>
     </div>
          </div>
</div>
</div><!--/.container-->
</div><!--/.top-bar-->

<footer id="footer" >
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              &copy; 2015 <a target="_blank" href="http://bootstraptaste.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">bootstraptaste</a>. All Rights Reserved.
          </div>
          <!-- 
              All links in the footer should remain intact. 
              Licenseing information is available at: http://bootstraptaste.com/license/
              You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Gp
          -->
          <div class="col-sm-6">
              <ul class="pull-right">
                  <li><a routerLink="main">หน้าหลัก</a></li>
                  <li><a routerLink="services">ข้อมูลบริการ</a></li>
                  <li><a routerLink="faq">คำถามที่พบบ่อย</a></li>
                  <li><a routerLink="contact">ติดต่อเรา</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer><!--/#footer-->