<section id="feature" >
    <div class="slider">
       <div class="center wow fadeInDown">
          <div class="container"> 
              <img src="assets/images/human/pongsakorn.jpg"  class="imgc img-responsive" alt="">
              <h3>ผู้อำนวยการโรงพยาบาล</h3>
          </div>
          <h2>หน่วยงานภายในโรงพยาบาลบางปะหัน</h2>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-stethoscope"></i>
                        <h2>แพทย์</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-ambulance"></i>
                        <h2>แพทย์แผนไทย</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-hospital-o"></i>
                        <h2>ทันตกรรม</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="">บุคคลากร</a>
                    </div>
                </div>
            
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-smile-o"></i>
                        <h2>เทคนิคการแพทย์</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-wheelchair-alt"></i>
                        <h2>บริการด้านปฐมภูมิฯ</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        <h2>งานบริหารทั่วไป</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <h2>งานประกันฯ</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heartbeat"></i>
                        <h2>เภสัชกรรม</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heartbeat"></i>
                        <h2>รังสีวิทยา</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        <h2>ศูนย์คุณภาพ</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-stethoscope"></i>
                        <h2>ผู้ป่วยนอก</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-ambulance"></i>
                        <h2>อุบัติเหตุฉุกเฉิน</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-hospital-o"></i>
                        <h2>ผู้ป่วยใน</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="">บุคคลากร</a>
                    </div>
                </div>
            
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-smile-o"></i>
                        <h2>ผู้ป่วยคลอด</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-wheelchair-alt"></i>
                        <h2>ผ่าตัด และวิสัญญี</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        <h2>ควบคุมการติดเชื้อ และจ่ายกลาง</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
            </div><!--/.services-->
        </div><!--/.row-->    
    </div><!--/.container-->
  </section><!--/#feature-->