<section id="feature" >
    <div class="container">
       <div class="center wow fadeInDown">
            <h2>หน่วยงานภายในโรงพยาบาลบางปะหัน</h2>
            
        </div>
  
        <div class="row">
            <div class="features">
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-stethoscope"></i>
                        <h2>ผู้ป่วยนอก</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-ambulance"></i>
                        <h2>อุบัติเหตุฉุกเฉิน</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-hospital-o"></i>
                        <h2>ผู้ป่วยใน</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
            
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-smile-o"></i>
                        <h2>ทันตกรรม</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-wheelchair-alt"></i>
                        <h2>กายภาพบำบัด</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
  
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        <h2>แพทย์แผนไทย</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <h2>วางแผนครอบครัว</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heartbeat"></i>
                        <h2>คลินิกพิเศษ</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heartbeat"></i>
                        <h2>คลินิกพิเศษ</h2>
                        <a class="alink" routerLink="main">บริบทหน้าที่</a>
                        <br><a class="alink" routerLink="main">บุคคลากร</a>
                    </div>
                </div>
            </div><!--/.services-->
        </div><!--/.row-->    
    </div><!--/.container-->
  </section><!--/#feature-->