
<div class="slider wow fadeInDown">
  <div class="row">
      <div class="col-md-6">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="col-md-6">
        <h2>ข้อมูลการติดต่อ</h2>
          <div>
            <h2 class="contacthead">โรงพยาบาลบางปะหัน </h2>
            <p class="contactlead">71/3 ม.5 ต.บางนางร้า อ.บางปะหัน จ.พระนครศรีอยุธยา 13220</p>
            <p>latitude 14.4762302,longitude 100.5341148;</p>
          </div>
          <div>
            <h2 class="contacthead">แฟกซ์</h2>
            <p class="contactlead">แผนกบริหาร : 035-352495</p>
            <p class="contactlead">แผนกเภสัชกรรม : 035-352496</p>    
            <p class="contactlead" >ห้องปฏิบัติการทางเทคนิคการแพทย์ : 035-352497</p>            
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6">
                <h2 class="contacthead">โทรศัพท์</h2>
                <p class="contactlead">035-777300 หรือ 035-777310
                <br>กด 1 แผนกผู้ป่วยนอก	
                <br>กด 2 แผนกอุบัติเหตุฉุกเฉิน	
                <br>กด 3 แผนกผู้ป่วยใน	
                <br>กด 4 งานประกันสุขภาพ/ร้องเรียน	
                <br>กด 5 แผนกบริหาร	
                <br>หรือกดเบอร์ภายในที่ท่านทราบ</p>
              </div> 
              <div class="col-md-6 col-sm-6">
                <img src="assets/images/tel.jpg"  alt=""> 
              </div> 
            </div>    
      </div>
  </div>
</div>