<section id="feature" >
  <div class="container">
     <div class="center wow fadeInDown">
          <h2>โปรแกรมการใช้งาน</h2>
          
      </div>

      <div class="row">
          <div class="features">
              <div class="col-sm-6 col-md-6 wow fadeInDown">
                  <div class="feature-wrap" >
                      <a class="alink" href = "rm"><i  class="fa fa-key"></i>
                      <h2>โปรแกรมความเสี่ยง(เก่า)</h2></a>
                      
                  </div>
              </div><!--/.col-md-4-->
              
              
          </div><!--/.services-->
          <div class="features">
            <div class="col-sm-6 col-md-6 wow fadeInDown">
                <div class="feature-wrap" >
                    <a href = "http://bphrm.thai-nrls.org/" style="color:rgb(0, 0, 0);" > <i  class="fa fa-key"></i>
                    <h2>โปรแกรมความเสี่ยง(ใหม่)</h2></a>
                    <h3>อยู่ระหว่างทดสอบการใช้งาน สามารถติดต่อขอทดสอบได้ที่ฝ่ายIT</h3>
                </div>
            </div><!--/.col-md-4-->
            
            
        </div><!--/.services-->
      </div><!--/.row-->    
  </div><!--/.container-->
</section><!--/#feature-->