
  <main class="slider container clear"> 
    <div class="container"> 
      <h1>ประวัติความเป็นมา</h1>
      <img class="imgr" src="assets/images/bph.jpg" alt="">
      <p class="ptab">โรงพยาบาลบางปะหัน เริ่มทำการก่อสร้าง เมื่อปี พ.ศ.2537 
        ในพื้นที่ซึ่งเป็นอนามัยบางนางร้าเดิมรวมกับที่ดินร้างของวัดโตนดมีพื้นที่ประมาณ 11 ไร่ 
        และเริ่มเปิดให้บริการแก่ประชาชนเมื่อ 1 กุมภาพันธ์ พ.ศ. 2538 เป็นโรงพยาบาลในสังกัด 
        สำนักงานปลัดกระทรวงสาธารณสุข ขนาด 10 เตียงมีอาคารบริการหนึ่งหลัง 
        เป็นอาคารที่ใช้บริการทั้งผู้ป่วยนอก และผู้ป่วยใน </p>
      <p class="ptab">ในปี พ.ศ. 2542 ได้รับอนุมัติก่อสร้างอาคารผู้ป่วยในโดยใช้เงินบริจาคจากมูลนิธิพระมงคลบพิตรร่วมกับเงินงบประมาณในการก่อสร้าง 
        การก่อสร้างแล้วเสร็จในปี พ.ศ. 2543 ต่อมาในปีงบประมาณ 2544 จึงได้รับการยกฐานะขึ้นเป็นโรงพยาบาลขนาด 30 เตียง 
        โดยมีนายแพทย์พงศกร อมรชัยชาญ ดำรงตำแหน่งผู้อำนวยการโรงพยาบาล จนถึงปัจจุบัน</p>
    </div>   
   