
  <main class="slider container clear"> 
      <div class="container"> 
        <h1>วิสัยทัศน์</h1>
        <img class="imgr inspace-5" src="assets/images/bph.jpg" alt="">
        <h2 >โรงพยาบาลคุณภาพเพื่อชุมชน </h2>
        <h1>พันธกิจ</h1>
        <p class="ptab">1. ให้บริการครอบคลุมสุขภาพแบบองค์รวม 4 มิติอย่างมีมาตรฐาน Service – Network ส่งเสริมการมีส่วนร่วมจากทุกภาคส่วน </p>
        <p class="ptab">2. พัฒนาบริการโดยชุมชนภาครัฐ และภาคเอกชนมีส่วนร่วม 
          <br>มีคุณธรรม จริยธรรม  และมีความสุข และเป็น Model ด้านสุขภาพ
        </p>
        <p class="ptab">3. พัฒนาบุคลากรอย่างต่อเนื่องให้มีความรู้ความสามารถ</p>
        <p class="ptab">4.ดูแลสภาพแวดล้อมควบคู่ไปกับการให้บริการ</p>
        <p class="ptab">5.สนับสนุนงานตามนโยบายของกระทรวงสาธารณสุข</p>
          
      </div>   
     